.headerSection{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: aquamarine;
    padding: 0px 20px;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
}
.headerLinks{
    list-style: none;
    text-decoration: none;
    color: black;
}